#example1 {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.indy100.com%2Farticle%2Fenglish-alphabet-old-middle-english-history-language-interesting-facts-7600071&psig=AOvVaw0Vuc25eU89HQB7IC9hifpb&ust=1601101906700000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOC50sXXg-wCFQAAAAAdAAAAABAD), url(paper.gif);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
  }
